.wrapper{
    display: flex;

    main{
        flex: 1;
    }
    
}


@media (max-width: 720px) {

    .wrapper{  
    display: flex;
    flex-direction: column-reverse;
    main{
        flex: 1;
    }
        
    }
    

}

